@model EcommerceCoreAngular.Areas.Admin.AdminVM.UpdateProductVM
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    ViewBag.Title = "Delete Product";
}

<div class="row m-t-30">
    <div class="col-md-12">

        <div class="panel panel-info">
            <div class="panel-heading"> Delete Product</div>
            <div class="panel-wrapper" aria-expanded="true">
                <div class="panel-body">
                    <form asp-area="Admin" asp-controller="Products" asp-action="Delete" method="post" enctype="multipart/form-data">
                        <div class="form-body">
                            <h3 class="box-title">Update Product</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <input type="hidden" asp-for="Products.ProductId" />
                                        <label class="control-label">Product Name</label>
                                        <input asp-for="Products.ProductName" type="text" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Unit Price</label>
                                        <input asp-for="Products.UnitPrice" type="text" class="form-control">
                                    </div>
                                </div>

                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Unit In Stock</label>
                                        <input asp-for="Products.UnitsInStock" type="text" class="form-control">
                                    </div>
                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->
                            <!--/row-->
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label">Category</label>
                                        <select asp-for="Products.CategoryId" asp-items="@(new SelectList(Model.Categories,"CategoryId","CategoryName"))" class="form-control" tabindex="1">
                                            <option>Please select one</option>
                                        </select>
                                    </div>
                                </div>
                                <!--/span-->
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <label class="control-label">Status</label>
                                        <input type="checkbox" asp-for="Products.IsActive" checked />Active
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="form-group">
                                        <div class="col-sm-6">
                                            <input type="file" asp-for="Products.ProductImage" />
                                        </div>
                                    </div>

                                </div>
                                <!--/span-->
                            </div>
                            <!--/row-->

                            <h3 class="box-title m-t-30">Product Detail</h3>

                            <div class="row">
                                <div class="col-md-12 ">
                                    <div class="form-group">

                                        <textarea asp-for="Products.Details" class="form-control" rows="4"></textarea>
                                    </div>
                                </div>
                            </div>

                            <!--/row-->
                            <hr>
                        </div>
                        <div class="form-actions m-t-30">
                            <button type="submit" class="btn btn-danger" value="Delete" onclick="window.confirm('Are you sure that you want to delete his')"> <i class="fa fa-check"></i> Delete</button>
                        </div>
                    </form>
                    <div asp-validation-summary="All"></div>
                </div>
            </div>
        </div>
    </div>

</div>