<div class="row m-t-30">
    <div class="col-md-12">
        <div class="panel panel-info">
            <div class="panel-heading"> Create Category</div>
            <div class="panel-wrapper" aria-expanded="true">
                <div class="panel-body">
                    <form (ngSubmit)="save();" #categoryFrom="ngForm">
                        <div class="form-body">
                            <h3 class="box-title">Create Category</h3>
                            <hr>
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="CategoryName">Category Name - Status: {{categoryFrom.form.valid}}</label>
                                        <input type="text"
                                               #txtCategoryName="ngModel" name="txtCategoryName"
                                               id="txtCategoryName" class="form-control"
                                               required
                                               [(ngModel)]="model.categoryName"
                                               placeholder="Category Name" />

                                        <div [hidden]="txtCategoryName.valid || txtCategoryName.pristine" class="alert alert-danger">Category Name is required !</div>
                                    </div>
                                </div>
                            </div>
                            <hr>
                        </div>
                        <div class="form-actions m-t-30">
                            <button type="submit" value="Create" class="btn btn-success" [disabled]="!categoryFrom.form.valid">
                                <i class="fa fa-check"></i> Save
                            </button>

                            <button type="button" class="btn btn-default" [disabled]="!(model.categoryId>0)" (click)="delete();">Delete</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>